@page
@using GameDatabase.Models
@model IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form>
<table class="table">
    <thead>
        <tr>
            <th>
                    @Html.DisplayNameFor(model => model.GameList[0].Title)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.GameList[0].ReleaseYear)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.GameList[0].Genre)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.GameList[0].Developer)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.GameList[0].Publisher)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.GameList[0].Platform)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.GameList[0].Rating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <td>
            <input type="text" asp-for="TitleSearchString" />
        </td>
        <td>
            <input type="text" class="narrow" asp-for="ReleaseYearSearchString" />
        </td>
        <td>
            <select asp-for="GameGenre" asp-items="Model.Genres">
                <option value="">All</option>
            </select>
        </td>
        <td>
            <input type="text" asp-for="DeveloperSearchString" />
        </td>
        <td>
            <input type="text" asp-for="PublisherSearchString" />
        </td>
        <td>
            <input type="text" asp-for="PlatformSearchString" />
        </td>
        <td>
            <input type="number" class="narrow" asp-for="RatingSearchString" />
        </td>
        <td>
            <input type="submit" value="Filter" />
        </td>
    </tbody>
</table>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page-handler="Sort" asp-route-category="@Settings.SortCategories.Title">
                @Html.DisplayNameFor(model => model.GameList[0].Title)
                </a>
            </th>
            <th>
                <a asp-page-handler="Sort" asp-route-category="@Settings.SortCategories.ReleaseYear">
                    @Html.DisplayNameFor(model => model.GameList[0].ReleaseYear)
                </a>
            </th>
            <th>
                <a asp-page-handler="Sort" asp-route-category="@Settings.SortCategories.Genre">
                    @Html.DisplayNameFor(model => model.GameList[0].Genre)
                </a>
            </th>
            <th>
                <a asp-page-handler="Sort" asp-route-category="@Settings.SortCategories.Developer">
                    @Html.DisplayNameFor(model => model.GameList[0].Developer)
                </a>
            </th>
            <th>
                <a asp-page-handler="Sort" asp-route-category="@Settings.SortCategories.Publisher">
                    @Html.DisplayNameFor(model => model.GameList[0].Publisher)
                </a>
            </th>
            <th>
                <a asp-page-handler="Sort" asp-route-category="@Settings.SortCategories.Platform">
                    @Html.DisplayNameFor(model => model.GameList[0].Platform)
                </a>
            </th>
            <th>
                <a asp-page-handler="Sort" asp-route-category="@Settings.SortCategories.Rating">
                    @Html.DisplayNameFor(model => model.GameList[0].Rating)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.GameList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Developer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Platform)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
